*.app
*.csv
*.ejs
*.gif
*.jpeg
*.jpg
*.pdf
*.png
*.snap
*.svg
*.txt
*.xml
package.json
package-lock.json
.editorconfig
.eslintcache
.eslintignore
.gitignore
.prettierignore
.stylelintignore
.stylelintcache
.npmrc
/dist
/node_modules
/.vscode
